<odoo>
  <menuitem name="Veterinaria" id="main_veterinaria_menu" groups="group_veterinaria_manager"/>

  <menuitem name="Veterinaria" id="veterinaria_menu" groups="group_veterinaria_manager" parent="main_veterinaria_menu"/>
<!-- Implementar cuando se creen las vistas
  <menuitem name="ATS" id="ats_menu" parent="veterinaria_menu" groups="group_veterinaria_manager" action="ats_list_action"/>
  <menuitem name="Cita" id="cita_menu" parent="veterinaria_menu" groups="group_veterinaria_manager" action="cita_list_action"/>
  <menuitem name="Cliente" id="cliente_menu" parent="veterinaria_menu" groups="group_veterinaria_manager" action="cliente_list_action"/>
  <menuitem name="Clinica" id="clinica_menu" parent="veterinaria_menu" groups="group_veterinaria_manager" action="clinica_list_action"/>
-->
</odoo>